// -------- Fonts --------

$font-family-main: Helvetica,sans-serif;

// -------- Colors --------

$black: #000;
$blue: #135;
$gold: #b80;
$gray: #ccc;
$gray-light: #eee;
$green: #283;
$green-light: #ad8;
$orange: #f90;
$red: #c00;
$teal: #5a90bb;
$white: #fff;
$yellow: #ed8;

// -------- Common Variables --------

$border-radius-default: 8px;
$container-padding: 16px;
$header-height: 48px;
$page-background: $teal;
$word-background: $white;
$word-background-bonus: $yellow;
$word-background-solved: $red;
$word-background-solved-bonus: $gold;
$word-border-color: $black;
$word-border-color-solved: $white;
$word-border-radius: 9999px;
$word-border-style: solid;
$word-border-width: 1px;
$word-color: $black;
$word-color-solved: $white;
$word-font-size: 16px;
$word-outline-color: $black;
$word-outline-color-focus: $orange;
$word-outline-color-solved: $black;
$word-outline-style: solid;
$word-outline-style-solved: solid;
$word-outline-width: 1px;
$word-outline-width-solved: 2px;

// -------- Module Variables --------

$Button-background: $word-background;
$Button-border-style: $word-border-style;
$Button-border-color: $word-border-color;
$Button-border-radius: $word-border-radius;
$Button-border-width-base: 2 * $word-border-width;
$Button-color: $word-color;
$Button-font-size-base: $word-font-size;
$Button-padding-left-right-base: 12px;
$Button-padding-top-bottom-base: 6px;

// -------- Component Variables --------

// App

$App-button-border-width: 4px;
$App-button-corner-padding: 4px;
$App-button-corner-radius: 70%;
$App-font-family: $font-family-main;
$App-header-height: $header-height;

// Association

$Association-color: $black;
$Association-thickness: 2px;

$Association-background-solved: $Association-color;
$Association-background-unsolved:
  (calc(50% + #{$Association-thickness * 1.5}) 0) / ($Association-thickness * 6 100%)
  linear-gradient(90deg, $Association-color 50%, transparent 50%);

// Home

$Home-background: $page-background;
$Home-logo-margin-bottom: 32px;
$Home-padding-bottom: 64px;
$Home-padding-side: 32px;
$Home-padding-top: $header-height + 64px;

// Level

$Level-font-family: $font-family-main;
$Level-padding-top: $header-height;

// LevelCard

$LevelCard-border-radius: $border-radius-default;
$LevelCard-info-background: $gray-light;
$LevelCard-padding: 16px;
$LevelCard-progress-bar-background-color: $white;
$LevelCard-progress-bar-background-progress: linear-gradient($green-light, $teal);
$LevelCard-progress-bar-background-progress-complete: $gold;
$LevelCard-progress-bar-border-width: 2px;
$LevelCard-progress-bar-margin: 2px;
$LevelCard-progress-bar-width: 16px;
$LevelCard-title-background: $white;
$LevelCard-title-color: $black;
$LevelCard-title-color-complete: $black;
$LevelCard-title-font-size: 18px;
$LevelCard-title-font-weight: bold;
$LevelCard-toggle-background: $blue;
$LevelCard-toggle-border: 2px solid currentColor;
$LevelCard-toggle-color: $white;
$LevelCard-toggle-size: 20px;

$LevelCard-toggle-background-expanded:
  center / ($LevelCard-toggle-size 2px)
  no-repeat
  $blue
  linear-gradient($LevelCard-toggle-color, $LevelCard-toggle-color);

// LevelSelect

$LevelSelect-background: $page-background;
$LevelSelect-card-spacing: $container-padding;
$LevelSelect-padding-bottom: $container-padding * 1.5;
$LevelSelect-padding-left: $container-padding;
$LevelSelect-padding-right: $container-padding;
$LevelSelect-padding-top: $header-height + $container-padding * 1.5;

// Word

$Word-background: $word-background;
$Word-background-bonus: $word-background-bonus;
$Word-background-solved: $word-background-solved;
$Word-background-solved-bonus: $word-background-solved-bonus;
$Word-border-color: $word-border-color;
$Word-border-color-solved: $word-border-color-solved;
$Word-border-radius: $word-border-radius;
$Word-border-style: $word-border-style;
$Word-border-width: $word-border-width;
$Word-color: $word-color;
$Word-color-solved: $word-color-solved;
$Word-font-size: $word-font-size;
$Word-help-text-indicator-background: $green-light;
$Word-help-text-indicator-border-color: $black;
$Word-help-text-indicator-border-style: solid;
$Word-help-text-indicator-border-width: 1px;
$Word-help-text-indicator-border-radius: 50%;
$Word-help-text-indicator-color: $black;
$Word-help-text-indicator-size: 16px;
$Word-help-text-background: $white;
$Word-help-text-border: 1px solid $black;
$Word-help-text-border-radius: 8px;
$Word-help-text-color: $black;
$Word-help-text-padding: 8px;
$Word-help-text-margin: $container-padding;
$Word-help-text-width: 100%;
$Word-line-height: 1;
$Word-outline-color: $word-outline-color;
$Word-outline-color-focus: $word-outline-color-focus;
$Word-outline-color-solved: $word-outline-color-solved;
$Word-outline-style: $word-outline-style;
$Word-outline-style-solved: $word-outline-style-solved;
$Word-outline-width: $word-outline-width;
$Word-outline-width-solved: $word-outline-width-solved;
$Word-padding-left-right: 6px;
$Word-padding-top-bottom: 2px;
