@import '~/sass/common.scss';

/** @define SettingsPage */

.SettingsPage {
  display: flex;
  height: 100%;
  background: $SettingsPage-background;
  padding:
    $SettingsPage-padding-top
    $SettingsPage-padding-side
    $SettingsPage-padding-bottom;
  flex-direction: column;
  align-items: center;

  &-title {
    margin-bottom: $SettingsPage-title-margin;
    font-size: $SettingsPage-title-font-size;
    color: $SettingsPage-title-color;
  }
}
