@import '~/sass/common.scss';

/** @define App */

.App {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: $App-font-family;

  &-levelselectButton,
  &-settingsButton {
    position: absolute;
    top: 0;
    height: $App-header-height;
    width: $App-header-height;
  }

  &-levelselectButton {
    @include z-index('appLevelselectButton');

    left: 0;
  }

  &-homeButton {
    @include z-index('appHomeButton');

    position: absolute;
    top: 0;
    left: calc(50% - #{0.5 * $App-header-height});
    height: $App-header-height;
    width: $App-header-height;
  }

  &-settingsButton {
    @include z-index('appSettingsButton');

    right: 0;
  }

  &-home,
  &-levelselect,
  &-settings {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &-home {
    @include z-index('appHome');
  }

  &:not(.is-showing-home) &-home {
    transform: translateY(-100%);
  }

  &-levelselect {
    @include z-index('appLevelselect');
  }

  &:not(.is-showing-levelselect) &-levelselect {
    transform: translateX(-100%);
  }

  &-settings {
    @include z-index('appSettings');
  }

  &:not(.is-showing-settings) &-settings {
    transform: translateX(100%);
  }

  &-level {
    @include z-index('appLevel');

    position: relative;
    height: 100%;
    width: 100%;
  }
}
