@import '~/sass/common.scss';
@import '~/sass/modules/Button.scss';

/** @define App */

.App {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: $App-font-family;

  &-levelselectButton,
  &-settingsButton {
    @extend %Button;
    @extend %Button--colored;

    display: flex;
    position: absolute;
    top: 0;
    height: 0.75 * $App-header-height;
    width: 0.75 * $App-header-height;
    border-width: $App-button-border-width;
    border-top: 0;
    justify-content: center;
    align-items: center;
  }

  &-levelselectButton {
    @include z-index('appLevelselectButton');

    left: 0;
    border-bottom-right-radius: $App-button-corner-radius;
    border-left: 0;
    padding: 0 $App-button-corner-padding $App-button-corner-padding 0;
  }

  &.is-showing-settings &-levelselectButton,
  &.is-showing-settings &-home,
  &.is-showing-settings &-levelselect,
  &.is-showing-settings &-level {
    visibility: hidden;
  }

  &.is-showing-home &-levelselectButton,
  &.is-showing-home &-levelselect,
  &.is-showing-home &-level {
    visibility: hidden;
  }

  &-levelselectButtonIcon,
  &-settingsButtonIcon {
    height: 70%;
    width: 70%;
    object-fit: contain;
  }

  &-homeButton {
    @include z-index('appHomeButton');

    position: absolute;
    top: 0;
    left: calc(50% - #{0.5 * $App-header-height});
    height: $App-header-height;
    width: $App-header-height;
  }

  &-settingsButton {
    @include z-index('appSettingsButton');

    right: 0;
    border-bottom-left-radius: $App-button-corner-radius;
    border-right: 0;
    padding: 0 0 $App-button-corner-padding $App-button-corner-padding;
  }

  &-home,
  &-levelselect,
  &-settings {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &-home {
    @include z-index('appHome');
  }

  &:not(.is-showing-home) &-home {
    transform: translateY(-100%);
    visibility: hidden;
  }

  &-levelselect {
    @include z-index('appLevelselect');
  }

  &:not(.is-showing-levelselect) &-levelselect {
    transform: translateX(-100%);
    visibility: hidden;
  }

  &-settings {
    @include z-index('appSettings');
  }

  &:not(.is-showing-settings) &-settings {
    transform: translateX(100%);
    visibility: hidden;
  }

  &-level {
    @include z-index('appLevel');

    position: relative;
    height: 100%;
    width: 100%;
  }

  &.is-showing-levelselect &-level {
    visibility: hidden;
  }
}
