@import '~/sass/common.scss';

/** @define Word */

.Word {
  &,
  &-label,
  &-placeholder,
  &-input {
    border-radius: $Word-border-radius;
  }

  &-label {
    @include z-index('word');

    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: text;
    border:
      $Word-outline-width
      $Word-outline-style
      $Word-outline-color;
    background: $Word-background;
    line-height: $Word-line-height;
    color: $Word-color;
    font-size: $Word-font-size;
  }

  &--bonus &-label {
    background: $Word-background-bonus;
  }

  &.is-solved &-label {
    border:
      $Word-outline-width-solved
      $Word-outline-style-solved
      $Word-outline-color-solved;
    background: $Word-background-solved;
    color: $Word-color-solved;
  }

  &--bonus.is-solved &-label {
    background: $Word-background-solved-bonus;
  }

  &.is-focused &-label {
    @include z-index('focusedWord');
  }

  &-placeholder {
    padding:
      $Word-padding-top-bottom + $Word-border-width
      $Word-padding-left-right + $Word-border-width;
    white-space: nowrap;
  }

  &:not(.is-focused) &-placeholder {
    @include z-index('wordPlaceholder');

    position: relative;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    outline-offset: -$Word-border-width;
    height: 100%;
    width: 100%;
    appearance: none;
    border:
      $Word-border-width
      $Word-border-style
      $Word-border-color;
    background: inherit;
    padding:
      $Word-padding-top-bottom
      $Word-padding-left-right;

    &:focus {
      outline: none;
    }
  }

  &.is-solved &-input {
    border-color: $Word-border-color-solved;
  }

  &.is-focused &-label,
  &.is-focused &-input {
    border-color: $Word-outline-color-focus;
  }

  &-helpTextIndicator {
    position: absolute;
    top: -$Word-help-text-indicator-size * 0.5;
    right: -$Word-help-text-indicator-size * 0.5;
    border-radius: $Word-help-text-indicator-border-radius;
    border:
      $Word-help-text-indicator-border-width
      $Word-help-text-indicator-border-style
      $Word-help-text-indicator-border-color;
    background: $Word-help-text-indicator-background;
    height: $Word-help-text-indicator-size;
    width: $Word-help-text-indicator-size;
    cursor: pointer;
    text-align: center;
    line-height: $Word-help-text-indicator-size - $Word-help-text-indicator-border-width;
    color: $Word-help-text-indicator-color;
    font-size: $Word-help-text-indicator-size * 0.8;
  }

  &-helpText {
    @include z-index('wordHelpText');

    position: fixed;
    top: $Word-help-text-margin-top;
    left: 50%;
    transform: translateX(-50%);
    border-radius: $Word-help-text-border-radius;
    width: $Word-help-text-width;
    max-width: calc(100% - #{2 * $Word-help-text-margin-left-right});
    border: $Word-help-text-border;
    background: $Word-help-text-background;
    padding: $Word-help-text-padding;
    text-align: center;
    color: $Word-help-text-color;
  }
}
