@import '~/sass/common.scss';

/** @define Home */

.Home {
  display: flex;
  height: 100%;
  padding:
    $Home-padding-top
    $Home-padding-side
    $Home-padding-bottom;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-logo {
    margin-bottom: $Home-logo-margin-bottom;
    height: 0;
    flex-grow: 1;
    object-fit: contain;
  }

  &-button {
    border-radius: $Home-button-border-radius;
    border:
      $Home-button-border-width
      $Home-button-border-style
      $Home-button-border-color;
    background: $Home-button-background;
    padding: $Home-button-padding;
    text-align: center;
    font-size: $Home-button-font-size;
  }
}
