@import '~/sass/common.scss';
@import '~/sass/modules/Button.scss';

/** @define Home */

.Home {
  display: flex;
  height: 100%;
  background: $Home-background;
  padding:
    $Home-padding-top
    $Home-padding-side
    $Home-padding-bottom;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-logo {
    margin-bottom: $Home-logo-margin-bottom;
    height: 0;
    width: 100%;
    flex-grow: 1;
    object-fit: contain;
  }

  &-button {
    @extend %Button;
    @extend %Button--colored;
    @extend %Button--shaped;
    @extend %Button--size2;

    flex-shrink: 0;

    &--hidden {
      visibility: hidden;
    }
  }
}
