@import '~/sass/common.scss';

/** @define Level */

.Level {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: $Level-padding-top;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
  font-family: $Level-font-family;

  &-container
  {
    position: relative;
    margin: auto;
    flex-shrink: 0;
  }
}
