@import '~/sass/common.scss';

/** @define LevelSelect */

.LevelSelect {
  height: 100%;
  width: 100%;
  background: $LevelSelect-background;
  padding:
    0
    $LevelSelect-padding-right
    $LevelSelect-padding-bottom
    $LevelSelect-padding-left;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &-homeButton {
    display: block;
    margin: 0 auto ($LevelSelect-padding-top - $LevelSelect-home-button-height);
  }

  &-homeButtonIcon {
    height: $LevelSelect-home-button-height;
  }

  &-card {
    &:not(:first-child) {
      margin-top: $LevelSelect-card-spacing;
    }
  }
}
