@import '~/sass/common.scss';

/** @define Association */

.Association {
  position: absolute;
  margin-top: -$Association-thickness * 0.5;
  transform-origin: left;
  height: $Association-thickness;
  background: $Association-background-unsolved;

  &--hidden
  {
    display: none;
  }

  &--solved
  {
    background: $Association-background-solved;
  }
}
