@import '~/sass/common.scss';

/** @define LevelCard */

.LevelCard {
  display: grid;
  grid-template-columns: auto ($LevelCard-toggle-size + 2 * $LevelCard-padding);

  &-button {
    display: flex;
    position: relative;
    border-radius: $LevelCard-border-radius 0 0 $LevelCard-border-radius;
    background: $LevelCard-title-background;
    padding:
      $LevelCard-padding
      $LevelCard-padding
      $LevelCard-padding
      $LevelCard-progress-bar-width + $LevelCard-padding;
    align-items: center;
  }

  &.is-expanded &-button {
    border-bottom-left-radius: 0;
  }

  &-title {
    font-size: $LevelCard-title-font-size;
    font-weight: $LevelCard-title-font-weight;
  }

  &-progressBar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $LevelCard-border-radius 0 0 $LevelCard-border-radius;
    border: $LevelCard-progress-bar-margin solid $LevelCard-title-background;
    height: 100%;
    background: $LevelCard-progress-bar-background-progress;
    background-clip: content-box;
    background-size: 100% 100%;
    overflow: hidden;
  }

  &.is-complete &-progressBar {
    background: $LevelCard-progress-bar-background-progress-complete;
  }

  &.is-expanded &-progressBar,
  &.is-expanded &-progressIndicator {
    border-bottom-left-radius: 0;
  }

  &-progressIndicator {
    display: block;
    margin: -1 * $LevelCard-progress-bar-margin;
    box-sizing: content-box;
    height: calc(100% - #{2 * $LevelCard-progress-bar-border-width});
    width: $LevelCard-progress-bar-width;
    border-radius: $LevelCard-border-radius 0 0 $LevelCard-border-radius;
    border:
      $LevelCard-progress-bar-margin + $LevelCard-progress-bar-border-width
      solid
      transparent;
    background: linear-gradient($LevelCard-progress-bar-background-color, $LevelCard-progress-bar-background-color)
      top
      no-repeat
      content-box;
  }

  &-toggleBtn {
    display: flex;
    position: relative;
    border-radius: 0 $LevelCard-border-radius $LevelCard-border-radius 0;
    background: $LevelCard-toggle-background;
    justify-content: center;
    align-items: center;
    color: $LevelCard-toggle-color;
  }

  &:not(.is-expanded) &-toggleBtn {
    &::after {
      box-sizing: content-box;
      border-radius: 50%;
      border: $LevelCard-toggle-border;
      width: $LevelCard-toggle-size;
      text-align: center;
      line-height: $LevelCard-toggle-size;
      font-size: $LevelCard-toggle-size * 0.8;
      content: 'i';
    }
  }

  &.is-expanded &-toggleBtn {
    background: $LevelCard-toggle-background-expanded;
  }

  &-info {
    border-radius: 0 0 $LevelCard-border-radius $LevelCard-border-radius;
    background: $LevelCard-info-background;
    padding: $LevelCard-padding;
  }

  &-size {
    display: block;
  }

  &-description {
    display: block;
    margin-top: $LevelCard-padding;
  }
}
