@import '~/sass/common.scss';

/** @define Button */
%Button {
  text-align: center;

  &--colored {
    border-style: $Button-border-style;
    border-color: $Button-border-color;
    background: $Button-background;
    color: $Button-color;
  }

  &--shaped {
    border-radius: $Button-border-radius;
  }

  // Sizes

  &--size1 {
    border-width: $Button-border-width-base;
    padding:
      $Button-padding-top-bottom-base
      $Button-padding-left-right-base;
    font-size: $Button-font-size-base;
  }

  &--size2 {
    border-width: 2 * $Button-border-width-base;
    padding:
      2 * $Button-padding-top-bottom-base
      2 * $Button-padding-left-right-base;
    font-size: 2 * $Button-font-size-base;
  }
}